body {
	background-color: #fffcf2;
}

a {
	text-decoration: none !important;
}

a.anime {
	color: black !important;
}

a.anime:hover {
	color: #ffb536 !important;
}

li {
	list-style-type: none;
}

li a.anime{
	margin: 8px;
	font-size: 17px;
}

.dropdown-item {
	color: black !important;
}

.d-block {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 10em;
	
}

.anime-title {
	text-align: center;
	color: #fafafa;
	font-style: italic;
}

.m-star {
	height: 0.8em;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.carousel-image {
	border-width: 10px;
	border: 10px;
	border-radius: 0.8em;
}

.carousel-item {
	height: 600px !important;
}

.carousel {
	border-radius: 1em !important;
}

.description {
	color: white;
	padding: 15px;
	padding-top: 2px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	text-align: center;
	width: 800px;
}

.whole_carousel {
	margin-top: 30px !important;
}

.dropdown-menu {
	margin: 0px !important;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.anime-list {
	text-align: center;
	margin-top: 20px;
}

.mobile-img {
	border-radius: 0.8em;
	height: 16em;
}

.logo {
	height: 30px;
	width: 30px;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: #ffb536 !important;
}

.footer {
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.desclaimer {
	padding: 12px;
	color: white;
	text-align: center;
	font-size: 13px;
}

.f-link {
	text-decoration: none !important;
	color: #ffb536;
}

.f-link:hover {
	color: white;
}

a.list {
	color: black !important;
	text-decoration: none !important;
}

.footer-ex {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.nav-title {
	color: #ffa30f;
	font-style: italic;
}
@media (max-width: 991px) {
	body {
		background-color: #fff9e6;
	}

	.description{
		width: 500px
	}

} 

@media (max-width: 767px) {
	.description {
		width: 300px;
		font-size: 13px;
	}
	.anime-title {
		font-size: 25px;
		margin-top: 8px;
	}
	.d-block {
		height: 8em;
	}
	.mobile-img {
		height: 9em;
	}
	li {
		margin: 5px;
	}
}

@media (min-width: 0px) and (max-width: 991px) {
	.nav-title {display: none;}
	.nav-link{text-align: center !important;}
}